*{
padding: 0;
margin: 0;
}
h1{
	font-family: 'Luckiest Guy', cursive;
	font-size: 60px;
	color:	silver;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
.home{
	background: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}
.home > .opening{
	margin: 150px;
}
.btn{
	padding: 5px 15px;
	border-radius: 15px;
	font-size: 15px;
	border-color: black;
}
.left{
	display: flex;
	width: 50%;
}
.page2{
background: url(../images/abstract.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.page2 > .left{
	align-items: center;
	justify-content: center;
	text-align: center;
}
.page2 > .left > .leftsep{
	height: 100vh;
}
.page2 > .left > .leftsep > img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 20px auto;
	transition: 0.7s;
}
.page2 > .left > .leftsep > img:hover{
	height: 300px;
	width: 300px;
}
.page2 > .left > .leftsep > p{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	margin: 20px;
}
.right{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 50%;
}
.page2 > .right> .rightsep > p{
	color: black;
	font-family: 'Baskervville', serif;
	font-size: 20px;
	margin: 20px;
}
.page3{
	background: url(../images/elex.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.page3 > div > img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin: 30px auto;
	transition: 0.7s;
}
.page3 > div > p{
font-family: 'Courgette', cursive;
	font-size: 20px;
	margin: 10px;
	color: black;
}
.page4{
	background: url(../images/pg4.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}
.page4 > div > .images{
	display: flex;
	transition: 0.7s;
	height: 50%;
}
.images li img{
		height: 300px;
		width: 200px;
		padding-right: 5px; 
		transition: 0.7s;
}
.images li img:hover{
		transform: scale(1.3);
}
.page5 > .left > .leftsep > form {
	height: 60vh;
	width: 90%;
	text-align: center;
}
.page5{
	background: url(../images/help.png);
	display: flex;
	justify-content: center;
	align-items: center;
}
.page5 > .left > .leftsep > form input{
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}
.page5 > .left{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page5 > .right > .rightsep > p{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	margin: 20px;
	color: red;
}